# Rename the file to .env

# Set to the desired backend url
VITE_BACKEND_URL=http://localhost:8088

# Set to the desired frontend url
VITE_CLIENT_URL=http://localhost:5173

# Set to your private MongoDB Atlas URI
MONGO_URI=

# Set to your private client ID from Google Cloud Console
GOOGLE_CLIENT_ID=

# Set to your private client secret from Google Cloud Console
GOOGLE_CLIENT_SECRET=

# Change localhost url to the one specified in VITE_BACKEND_URL
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:8088/api/integration.envs/google/callback